@import "tailwindcss";

@theme {
  --color-primary: var(--primary, #8a2ce2);
  --color-background-light: #f7f6f8;
  --color-background-dark: #0a080c;
  --color-card-dark: #16111d;

  --font-display: "Space Grotesk", sans-serif;

  --radius-default: 0.75rem;
  --radius-lg: 1.25rem;
  --radius-xl: 2rem;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  --primary: #8a2ce2;
}

.neon-glow {
  box-shadow: 0 0 15px var(--primary-glow, rgba(138, 44, 226, 0.3));
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}
